* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background: #3e3e3f !important;
}

.img {
    width: 50%;
    height: 100%;
}

.img_big {
    width: 100%;
    height: 80%;
}

.img_big img {
    width: 80%;
    height: 100%;
}

.img_small {
    width: 80%;
    text-align: center;
    margin-left: 5px;
    padding-top: 10px;
}

.img_small ul li {
    display: inline-block;
    padding: 5px;
}

.img_small ul li img {
    width: 50px;
    height: 50px;
}

.infor {
    width: 50%;
}

.infor a i {
    padding: 10px;
    cursor: pointer;
}
.detail {
    display: flex;
    margin-top: 50px;
}

.Name h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.addCart{
    width: 50px!important;
}
.infor p {
    margin-top: 20px;
    color: gray;
    font-family:'Times New Roman', Times, serif ;
    font-weight:'100';
}
.infor button{
    background: red; 
    width:200px;
    border:none;
    color:white;
    border-radius:5px;
    margin-top: 20px;
    padding:5px;
}
.giovang p{
    color:black;
    font-size:10px;
    margin-top: -10px;
    
}
.giovang{
    border:1px solid white;
    margin-top:10px;padding:10px;
    background:rgb(202, 202, 202);
    border-radius:10px;
    width:300px;
}
.infor h4{
    color:white;
    margin-top:10px
}
.sale {
    color: white !important;
    font-weight: 900 !important;
    font-size: 20px;
}

.sale span {
    font-weight: 200 !important;
    font-size: 10px;
    text-decoration: line-through;
}

.gb {
    margin-top: -20px !important;
    color: white !important;
}

.infor ul li {
    display: inline-block;
    width: 50px;
    background: black;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 5px;
}

.infor ul li a {
    font-size: 10px;
    color: white !important;
    cursor: pointer;
}

.infor ul li:hover {
    background: gray;
}
.payment{
    margin-top:50px;display:flex;
}
.payment a{
    cursor:pointer;
}

.color {
    font-size:20px
}
.color span{
    font-size:15px ;
}
.vnpay h5{
    color:blue;margin-top:-30x;
    margin-left:20px;
    padding-bottom:10px;
}
.vnpay h5 span{
    color:red;
}
.vnpay{
    width:200px;
    background:white;
    margin-right: 50px;
}
.vnpay p{
    color:black;
    margin-top:-20px;
    margin-left:20px;
    font-size:15px;
}
